<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h2>Your Pragmatic Cart</h2>


  <% @cart.line_items.each do |item| %>
    <p><%= item.product.title %>&times;<%= item.quantity%></p>

  <% end %>

<%= button_to 'Empty cart', @cart, method: :delete,
data: { confirm: 'Are you sure?' } %>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
