<!DOCTYPE html>
<html>
  <head>
    <title>Store2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %> ">

    <ul>
      <li><%= link_to 'Home', store_path, style: "color: white"%></li>
      <% if session[:cart_id] != nil %>
      <li><%= link_to fa_icon("shopping-cart"), cart_path(session[:cart_id]), style: "color: white"%></li>
      
      <%end%>

      <i class="fa-solid fa-cart-shopping"></i>

      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
        <div class="dropdown-content">
          <a href="#">Sign-up</a>
          <a href="#">Log-in</a>
          <a href="#">Log-out</a>
        </div>
      </li>
    </ul>

    <%= yield %>
  </body>
</html>
