<!DOCTYPE html>
<html>
  <head>
    <title>Store2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %> ">

    <ul>
      <li><%= link_to 'Home', store_path%></li>

     
      <%if user_signed_in?%>
        <%if session[:cart_id] != nil %>
        <li><%= link_to fa_icon("shopping-cart"), cart_path(session[:cart_id])%></li>
        <%end%>

        <li><%=link_to "You orders", orders_path%></li>
        
      
        <%if @cart%>
          <li id="cart"><%= render @cart %></li>
        <%end%> 
      <%end%>

      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
        <div class="dropdown-content">
          <%= link_to "Sign-up", new_user_registration_path %>
          <%= link_to "Log-in", new_user_session_path %>
          <%= link_to "Log-out", destroy_user_session_path, method: :delete %>
        </div>
      </li>
    </ul>
   
    <%= yield %>
  </body>
</html>
